* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

.header-background,
.footer-background {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.button-color {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-background {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    padding: 20px 0;
    margin: auto;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    width: 400px;
    padding: 100px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-right {
    width: 400px;
    padding: 100px 20px 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    background-color: grey;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-background {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: solid #3882F6 5px;
}

.information-header-text {
    padding: 50px 0;
}

.blue-box-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.subtext {
    padding-top: 20px;
}

.blue-box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 160px;
}

.quote-background {
    display: flex;
    justify-content: center;
}

.quote-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    padding: 50px 0;
    gap: 20px;
}

.quote-signature-text {
    margin-left: auto;
    font-weight: 900;
    font-size: 18px;
}

.call-background {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.call-container {
    width: 800px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-item {
    display: flex;
    gap: 50px;
}

.call-to-action {
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 900;
}

.call-text {
    color: #E5E7EB
}

.call-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
    border: solid #E5E7EB 2px;
    padding: 10px 30px;
}

.footer-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    padding: 10px 0;
    color: #E5E7EB;
    font-size: 12px;
}